## checkpoints
# Boston housing
Boston-housing/.ipynb_checkpoint/**
Boston-housing/.DS_Store
Boston-housing/input/**


Boston-housing/notebook/.ipynb_checkpoints/**
Boston-housing/notebook/.DS_Store

Boston-housing/notebook/*.json
Boston-housing/notebook/*.csv
Boston-housing/.idea/**



# Titanic
Titanic/.ipynb_checkpoints/**
Titanic/notebook/.ipynb_checkpoints/**
Titanic/notebook/.DS_Store
Titanic/input
Titanic/*.csv
Titanic/notebook/*.json
Titanic/notebook/*.csv
Titanic/.DS_Store


# original file
input/**
.DS_Store
