## checkpoints
# Boston housing
Boston-housing/.DS_Store
Boston-housing/input/**
Boston-housing/working/*.json
Boston-housing/working/*.csv
Boston-housing/.idea/**



# Titanic
Titanic/.ipynb_checkpoints/**
Titanic/working/.ipynb_checkpoints/**
Titanic/input/.DS_Store
Titanic/input
Titanic/*.csv
Titanic/working/*.json
Titanic/working/*.csv
Titanic/.DS_Store


#pyspark_titanic
pyspark_titanic/input
pyspark_titanic/working/.ipynb_checkpoints/**
pyspark_titanic/working/.ipynb_checkpoints
pyspark_titanic/working/*.json



Covid-19/working/*.json
Covid-19/working/.ipynb_checkpoints


# original file
input/**
.DS_Store
